<div class="container" *ngIf="showAddNew">
  <div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
    <h1>Add new host</h1>
    <form>
    <div class="form-group">
      <label for="hostName">Host Name</label>
      <input type="text" class="form-control" id="hostName" aria-describedby="hostNameHelp" placeholder="Enter Host Name">
    </div>
    <div class="form-group">
      <label for="ipAddress">Ip Address</label>
      <input type="text" class="form-control" id="ipAddress" placeholder="Ip Address">
    </div>
    <button type="submit" (click)="submitNewHost()" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="col-sm-4"></div>
 &nbsp;
</div>
</div>
<div class="container" *ngIf="hostCounts">
    <h1>Tactical Overview</h1>
    <div class="row">
      <div class="col-sm-2 services row-div">Hosts</div>
      <div class="col-sm-2 ok text-center row-div">{{ hostCounts.up }}</div>
      <div class="col-sm-2 critical text-center row-div" >{{ hostCounts.down }}</div>
      <div class="col-sm-2 unknown text-center row-div">{{ hostCounts.unreachable }}</div>
      <div class="col-sm-2 pending text-center row-div">{{ hostCounts.pending }}</div>
      <div class="col-sm-2 services row-div"> &nbsp;</div>
    </div>
</div>
<div class="container" *ngIf="counts">

  <div class="row">
    <div class="col-sm-2 services row-div">Services</div>
    <div class="col-sm-2 ok text-center row-div">{{ counts.ok }}</div>
    <div class="col-sm-2 warning text-center row-div" >{{ counts.warning }}</div>
    <div class="col-sm-2 critical text-center row-div">{{ counts.critical }}</div>
    <div class="col-sm-2 unknown text-center row-div">{{ counts.unknown }}</div>
    <div class="col-sm-2 pending text-center row-div">{{ counts.pending }}</div>
  </div>
</div>

<div class="container" *ngIf="hostsList">
  <h1>Hosts</h1>
  <div *ngFor="let host of hostsList" >
    <app-host [host]="host"></app-host>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<app-charts [counts]="counts" [hostcounts]="hostCounts"></app-charts>
